
###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

.c9/*
.buildpath
.project
.settings
nbproject
.idea
.tm_properties

###> symfony/web-server-bundle ###
.web-server-pid
###< symfony/web-server-bundle ###
