###> symfony/framework-bundle ###
.env
/public/assets/
/public/bundles/
/public/uploads/
/var/
/vendor/
###< symfony/framework-bundle ###

.c9/*
.buildpath
.project
.settings
nbproject
.idea
.tm_properties

###> symfony/web-server-bundle ###
.web-server-pid
###< symfony/web-server-bundle ###
###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
