{% extends 'easy_admin/list.html.twig' %}

{% block bulk_reset %}
    <div class="button-action">
        <a class="btn btn-warning bulk-reset" href="#" target="_self">
            Reiniciar permisos estudiantes
        </a>
    </div>
{% endblock %}

{% block body_javascript %}
    {{ parent() }}

    <script type="text/javascript">
        $(function(){
            var already_clicked = false;

            $('.bulk-reset').on('click', function(e) {
                e.preventDefault();

                if (!already_clicked) {
                    already_clicked = true;
                    $.ajax({
                        'url': '{{ path('usuarios_bulk_reset') }}',
                        'type': 'POST',
                        'success': function (data, textStatus, jqXHR) {
                            location.reload();
                        },
                        'error': function (jqXHR, textStatus, errorThrown) {
                            notificacion('No se pudieron reiniciar los permisos.', 'error');
                        }
                    });
                } else {
                    notificacion('Por favor espere.', 'warning');
                }
            });
        });
    </script>
{% endblock %}
