{% extends 'easy_admin/list.html.twig' %}

{% block bulk_delete %}
    <div class="button-action">
        <a class="btn btn-danger bulk-delete" href="#" target="_self">
            Eliminar todos
        </a>
    </div>
{% endblock %}

{% block body_javascript %}
    {{ parent() }}

    <script type="text/javascript">
        $(function(){
            var already_clicked = false;

            $('.bulk-delete').on('click', function(e) {
                e.preventDefault();

                if (!already_clicked) {
                    already_clicked = true;
                    $.ajax({
                        'url': '{{ path('encontrados_bulk_delete') }}',
                        'type': 'POST',
                        'success': function(data, textStatus, jqXHR) {
                            location.reload();
                        },
                        'error': function(jqXHR, textStatus, errorThrown) {
                            notificacion('No se pudieron borrar los objetos encontrados.', 'error');
                        }
                    });
                } else {
                    notificacion('Por favor espere.', 'warning');
                }
            });
        });
    </script>
{% endblock %}
