{% extends 'easy_admin/layout.html.twig' %}

{% block page_title %}Error {{ status_code }}{% endblock %}

{% block main %}
    <h1 class="text-center"><i class="fa fa-frown-o" style="color:#d9534f;"></i> {{ status_code }} </h1>
    <h2 class="text-center">No pudimos encontrar lo que busca</h2><br>
{% endblock %}
