{% extends 'easy_admin/layout.html.twig' %}

{% block page_title %}Error {{ status_code }}{% endblock %}

{% block main %}
    <h1 class="text-center"><i class="fa fa-ban" style="color:#d9534f;"></i> {{ status_code }} </h1>
    <h2 class="text-center">¡Lo siento! No tiene permisos de acceso</h2><br>
{% endblock %}
