{% extends 'easy_admin/layout.html.twig' %}

{% block page_title %}Error {{ status_code }}{% endblock %}

{% block main %}
    <h1 class="text-center"><i class="fa fa-clock-o" style="color:#f0ad4e;"></i> {{ status_code }} </h1>
    <h2 class="text-center">El servidor web está devolviendo un error de red inesperado</h2><br>
{% endblock %}
