{% extends 'layout.html.twig' %}

{% block page_title %}Error {{ status_code }}{% endblock %}

{% block main %}
    <h1 class="text-center"><i class="fa fa-exclamation-circle" style="color:#d9534f;"></i> {{ status_code }} </h1>
    <h2 class="text-center">¡Ups! Ocurrió un error</h2><br>
{% endblock %}
