{% extends 'easy_admin/list.html.twig' %}

{% block bulk_exit %}
    <div class="button-action">
        <a class="btn btn-warning bulk-exit" href="#" target="_self">
            Salir a todos
        </a>
    </div>
{% endblock %}

{% block body_javascript %}
    {{ parent() }}

    <script type="text/javascript">
        $(function(){
            $('.bulk-exit').on('click', function(e) {
                e.preventDefault();

                $.ajax({
                    'url': '{{ path('prestamos_bulk_exit') }}',
                    'type': 'POST',
                    'success': function(data, textStatus, jqXHR) {
                        location.reload();
                    },
                    'error': function(jqXHR, textStatus, errorThrown) {
                        notificacion('No pudieron salir todos los prestamos.', 'error');
                    }
                });
            });
        });
    </script>
{% endblock %}
